<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title | default:"Don Skoog - Writer Composer Speaker Chicago, Illinois" }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="TITLE" content="Don Skoog - Writer Composer Speaker Chicago, Illinois">
  <meta name="DESCRIPTION" content="Official site for Don Skoog">
  <meta name="KEYWORDS" content="Don Skoog composer writer speaker artist">
  <meta name="OWNER" content="dskoog@mac.com">
  <meta name="AUTHOR" content="dskoog@mac.com">
  <meta name="CONTENT-LANGUAGE" content="English">
  <meta name="VW96.OBJECT TYPE" content="Document">
  <meta name="RATING" content="General">
  <meta name="ROBOTS" content="index,follow">
  <meta name="originpath" content="{{page.path}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script src="/scripts.js" type="module"></script>
</head>

<body class="{{ page.category | default: " default" }}">
  <header>
    <input type="checkbox" id="mainnavmenu" style="display:none;">
    <nav aria-label="main">
      <ul class="menu">
        <li>
          <a class="menuItem" href="/index">Home</a>
        </li>
        <li>
          <a class="menuItem" href="/composer">Composer</a>
        </li>
        <li>
          <a class="menuItem" href="/writer">Writer</a>
        </li>
        <li>
          <a class="menuItem" href="/speaker">Public Speaker</a>
        </li>
        <li>
          <a class="menuItem" href="/artist">Multi-media Artist</a>
        </li>
      </ul>
    </nav>

    <label class="hamburger" for="mainnavmenu">
      <span>Menu</span>
      <svg viewBox="0 0 24 24" width=24 height=24 fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="15%" y1="15%" x2="85%" y2="15%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="50%" x2="85%" y2="50%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="85%" x2="85%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="15%" x2="85%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="85%" y1="15%" x2="15%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
      </svg>
    </label>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; Donald Skoog</p>
    </div>
  </footer>
</body>

</html>
