<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{ page.title | default:"Don Skoog - Writer Composer Speaker Chicago, Illinois" }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="TITLE" content="Don Skoog - Writer Composer Speaker Chicago, Illinois">
  <meta name="DESCRIPTION" content="Official site for Don Skoog">
  <meta name="KEYWORDS" content="Don Skoog composer writer speaker artist">
  <meta name="OWNER" content="dskoog@mac.com">
  <meta name="AUTHOR" content="dskoog@mac.com">
  <meta name="CONTENT-LANGUAGE" content="English">
  <meta name="VW96.OBJECT TYPE" content="Document">
  <meta name="RATING" content="General">
  <meta name="ROBOTS" content="index,follow">
  <meta name="originpath" content="{{page.path}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script src="/scripts.js" type="module"></script>
</head>

<body class="{{ page.category | default: " default" }}">
  <header>
    <svg width="100px" height="100px" viewBox="0 0 173 207" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
      <g transform="matrix(1,0,0,1,-140.264,-17.5354)">
        <g id="Glasses">
          <path
            d="M165.508,101.378C161.946,100.728 160.466,94.286 160.466,94.286C160.466,94.286 214.475,84.379 218.641,98.476C222.592,100.732 233.259,98.712 233.259,98.712C233.259,98.712 269.36,86.145 285.426,97.567C292.254,131.313 245.777,139.262 234.225,112.97C228.735,100.951 232.569,104.949 232.569,104.949C232.569,104.949 222.381,105.349 217.298,105.078C217.825,125.261 173.466,150.816 165.508,101.378Z"
            style="fill:none;stroke-width:5px;" />
          <ellipse cx="195.51" cy="106.974" rx="3.758" ry="3.266" />
          <g transform=" matrix(1,0,0,1,61.4887,1.69537)">
            <ellipse cx="195.51" cy="106.974" rx="3.758" ry="3.266" />
          </g>
        </g>
        <g id="Lines">
          <path id="Head"
            d="M148.293,107.086C148.293,107.086 144.326,71.584 171.35,52.192C181.752,35.692 198.515,21.909 225.523,19.785C253.896,21.928 279.725,38.22 289.472,61.261C309.306,67.601 308.081,107.185 306.866,109.366C306.174,110.608 311.071,110.357 310.978,118.959C310.849,130.926 309.155,145.653 304.852,161.048C303.388,166.285 299.739,163.934 297.838,168.822C295.632,174.494 284.946,189.036 284.127,189.75C279.033,194.189 218.007,271.581 158.68,170.193C155.032,179.019 147.956,166.544 151.076,163.684C149.068,150.899 136.722,126.625 145.822,117.053C143.436,108.557 148.293,107.086 148.293,107.086Z"
            style="fill:none;stroke-width:5px;" />
        </g>
        <g id="Goatee-2" serif:id="Goatee 2">
          <path id="Goatee-21" serif:id="Goatee 2"
            d="M178.454,198.279C178.454,198.279 182.769,161.986 187.888,158.837C193.006,155.688 221.826,149.303 222.436,148.922C223.045,148.541 261.342,152.96 263.166,157.651C264.99,162.343 273.019,195.941 272.097,200.087C226.324,242.279 193.488,213.383 178.454,198.279ZM199.879,169.374C208.429,168.576 245.316,168.251 253.597,168.768C255.419,168.882 251.387,172.308 249.57,172.478C241.019,173.276 210.576,174.075 202.295,173.558C200.687,173.458 198.275,169.524 199.879,169.374Z" />
        </g>
      </g>
    </svg>
    <input type="checkbox" id="mainnavmenu" style="display:none;">
    <nav aria-label="main">
      <ul class="menu">
        <li>
          <a class="menuItem" href="/index">Home</a>
        </li>
        <li>
          <a class="menuItem" href="/composer">Composer</a>
        </li>
        <li>
          <a class="menuItem" href="/writer">Writer</a>
        </li>
        <li>
          <a class="menuItem" href="/speaker">Public Speaker</a>
        </li>
        <li>
          <a class="menuItem" href="/artist">Multi-media Artist</a>
        </li>
      </ul>
    </nav>

    <label class="hamburger" for="mainnavmenu">
      <span>Menu</span>
      <svg viewBox="0 0 24 24" width=24 height=24 fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="15%" y1="15%" x2="85%" y2="15%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="50%" x2="85%" y2="50%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="85%" x2="85%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="15%" y1="15%" x2="85%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
        <line x1="85%" y1="15%" x2="15%" y2="85%" stroke-width="2" stroke-linecap="round"></line>
      </svg>
    </label>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p><a href="mailto:dskoog@mac.com" title="email me">dskoog@mac.com</a></p>
    <p>&copy; Donald Skoog</p>
    </div>
  </footer>
</body>

</html>
